{% extends "base.html" %}
    {% block title %}Blog{% endblock %}
            {% block content %}
            <h1 class="flx-centered">KnittyGirl's Blog</h1>
            <div class="flexbox hbox">
                <div class="flexbox vbox fx1 posts-nav">
                    <ul>
                        <li><h3>2017</h3>
                            <ul>
                                <li><h4>August</h4>
                                    <ul>
                                        <li><p class="post_nav_title">What I'm Working on...</p></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="flexbox hbox p_entry fx4">
                    <div class="flexbox vbox p_content">
                        <h2>What I’m working on…</h2>
                        <br />
                        <p>The latest project I’m working on is the Easy Lace Shrug a free pattern from Lion Brand Yarn.  I’m not using the yarn from the company but some yarn I’ve had in my stash for a while.  The yarn is called "Cascade 220 Heathers" in the color "Savanna Heather" (a lovely light green color with some yellow undertones).  The yarn is nice and soft and it great to work with.  I can’t wait till its cold enough to wear it!!</p>
                        <p>So far I love this pattern!!  It took me a little while to figure out the lace pattern, but now that I have it down, I’m getting a lot done on this project.  I’m a little over half way done with my shrug.  I can’t wait to post a picture of my finished object, but for now, I will just post what I have done so far.</p>

                        <div class="flexbox vbox p_image_main">
                            <img src="static/images/blog/IMG_4701.xs.jpg" alt="" width="100%">
                        </div>
                        <p>Make sure to take some time to knit (or crochet) today!!</p>
                    </div>
                </div>
            </div>
        


            {% endblock %}
