{% extends "base.html" %}
    {% block scripts %}
    <script type="text/javascript" src="static/store.js"></script>
    <script type="text/javascript" src="static/img_hove.js"></script>
    {% endblock %}
    {% block title %}Store{% endblock %}
            {% block content %}
            <h1 class="flx-centered">KnittyGirl's Store</h1>
            <!-- Trigger/Open The Modal -->
            

            <!-- The Modal -->
            <div id="myModal" class="modal">

            <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form id="checkout_form" method="post" action="mailto:brycevtr250@gmail.com">
                        <p>All Fields Required</p>
                        <fieldset>
                            <legend>Name &amp; Mailing Address</legend>
                            <div class="flexbox vbox form-col">
                                <div class="flexbox hbox form-row">
                                    <div class="flexbox vbox form-col labels">
                                        <label for="first-name">First:</label>
                                        <label for="last-name">Last:</label>
                                    </div>
                                    <div class="flexbox vbox form-col inputs">
                                        <input id="first-name" name="first-name" type="text" size=25>
                                        <input id="last-name" name="last-name" type="text" size=25>
                                    </div>
                                </div>
                                <div class="flexbox hbox form-row">
                                    <label for="house-no">House Number:</label><input id="house-no" name="house-no" type="text" size="5" />
                                    <label for="street">street:</label><input id="street" name="street" type="text" size="25" />
                                </div>
                                <div class="flexbox hbox form-row">
                                    <label for="city">City:</label><input id="city" name="city" type="text" />
                                    <label for="state">State:</label>
                                        <input list="state_list" id="state" name="state" type="text" size="3"/>
                                            <datalist id="state_list">
                                                {% for state in states %}
                                                <option value="{{ state }}" />
                                                {% endfor %}
                                            </datalist>
                                    <label for="zip">Zip:</label><input id="zip" name="zip" type="text" size="11" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Payment Info</legend>
                            <label for="card-no">Card Number:</label><input id="card-no" name="card-no" type="text" size="16">
                        </fieldset>
                        <fieldset>
                            <legend>Item Summary</legend>
                            <div id="order-summary" class="flexbox hbox form-row">
                                <table id="item_list">
                                    <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Order date</th>
                                            <th>Item Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input id="item_sn" type="text" name="sn" value="" readonly />
                                            </td>
                                            <td>
                                                <input id="order_date" type="text" name="sn" value="" readonly />
                                            </td>
                                            <td>
                                                <input id="item_name" type="text" name="sn" value="" readonly />
                                            </td>
                                            <td>
                                                <input id="item_price" type="text" name="sn" value="" readonly />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        <input id="checkout-submit" type="submit" value="Complete Purchase" />
                        <input type="reset" value="Reset Form" />
                    </form>
                </div>
            </div>
            <div class="flexbox hbox p_entry">
                <div class="flexbox vbox p_images">
                    <div class="flexbox vbox p_image_main">
                        <img class="main_framed_img" src="static/images/store/IMG_4699.xs.jpg" alt="" href="static/images/store/IMG_4699.xs.jpg">
                    </div>
                    <div class="flexbox hbox thumbnails">
                        <div class="flexbox vbox thumb_box">
                            <img class="framed_img" src="static/images/store/IMG_4698.xs.jpg" alt="" href="static/images/store/IMG_4699.xs.jpg">
                        </div>
                        <div class="flexbox vbox thumb_box">
                            <img class="framed_img" src="static/images/store/IMG_4699.xs.jpg" alt="" href="static/images/store/IMG_4699.xs.jpg">
                        </div>
                        <div class="flexbox vbox thumb_box">
                            <img class="framed_img" src="static/images/store/IMG_4700.xs.jpg" alt="" href="static/images/store/IMG_4700.xs.jpg">
                        </div>
                    </div>
                </div>
                <div class="flexbox vbox p_content">
                    <h2>Beachy Keen Shawl</h2>
                    <dl>
                        <dt>Craft</dt>
                        <dd>Crochet</dd>
                        <dt>yarn</dt>
                        <dd>100% acrylic Stitch Studio by Nicole</dd>
                        <dt>When</dt>
                        <dd>Spring/Summer 2017</dd>
                        <dt>Price</dt>
                        <dd>$40.00</dd>
                    </dl>
                    <button class="purchase_btn " data-sn="12345">Purchase</button>
                    <P>&nbsp;&nbsp;&nbsp;&nbsp;This shawl is perfect for a cool spring or summer night. It is approximately 27” at it's longest point by 57” The yarn has a nice drape, sheen, and soft feel.&nbsp;&nbsp;It can even be worn for a night out on the town.  The shawl comes in a beautiful royal blue color.</p>
                </div>
            </div>
            <div class="flexbox hbox p_entry">
                <div class="flexbox vbox p_images">
                    <div class="flexbox vbox p_image_main">
                        <img class="main_framed_img" src="static/images/store/IMG_4694.xs.jpg" alt="" href="static/images/store/IMG_4694.xs.jpg">
                    </div>
                    <div class="flexbox hbox thumbnails">
                        <div class="flexbox vbox thumb_box">
                            <img class="framed_img" src="static/images/store/IMG_4694.xs.jpg" alt="" href="static/images/store/IMG_4694.xs.jpg">
                        </div>
                        <div class="flexbox vbox thumb_box">
                            <img class="framed_img" src="static/images/store/IMG_4695.xs.jpg" alt="" href="static/images/store/IMG_4694.xs.jpg">
                        </div>
                        <div class="flexbox vbox thumb_box">
                            <img class="framed_img" src="static/images/store/IMG_4696.xs.jpg" alt="" href="static/images/store/IMG_4694.xs.jpg">
                        </div>
                    </div>
                </div>
                <div class="flexbox vbox p_content">
                    <h2>Half Moon Knitted Shawl</h2>
                    <dl>
                        <dt>Craft</dt>
                        <dd>Knitted</dd>
                        <dt>yarn</dt>
                        <dd>Yarn Co. 100% silk</dd>
                        <dt>When</dt>
                        <dd>summer 2016</dd>
                        <dt>Price</dt>
                        <dd>$60.00</dd>
                    </dl>
                    <button class="purchase_btn" data-sn="23456">Purchase</button>
                    <P>&nbsp;&nbsp;&nbsp;&nbsp;Knitted in summer of 2016, made with Yarn Co., 100% silk yarn.&nbsp;&nbsp;It measures approximately 15” at it's longest point, by 48” wide.&nbsp;&nbsp;This shawl would make a great accent piece to jazz up any outfit.&nbsp;&nbsp;The silk yarn has a beautiful drape and a lovely soft feel.&nbsp;&nbsp;The shawl comes in a lovely heather light blue color.</p>
                </div>
            </div>
            {% endblock %}
