
h1 {text-align: center}

p {
    line-height: 2em
}

img {
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}

article a:link {color:powderblue}
article a:visited {color:mediumpurple}

.captioned {
    text-align: center
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;

}


.pill {
    display: inline-block;
    border-radius:2em;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: dodgerblue;
    color: antiquewhite;
    height: 2em;
    padding-left:10px;
    padding-right:10px;
    line-height: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pill-header {
    background-color: seagreen;
    border-radius: 2em;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    padding-top:1em;
    padding-bottom: 1em;
    margin: 2em;

}

.sub-pill {
    background-color: mediumslateblue;
}

.pill-button {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

}
a.pill-button:link, a.pill-button:visited {
    text-align: center; 
    text-decoration: none;
}

a.pill-button:hover  {
    background-color: white;
    color:mediumslateblue
}

a.pill-button:active {
    background-color: black;
    color: white
}

ul {list-style-type: none}

nav {    

    min-width: 350px;
    margin-right: 10px;
    -webkit-flex: 5;
    flex: 5
}

article {

    -webkit-flex: 20;
    flex: 20;
    padding-right: 20px
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(20,40,40);
    color:antiquewhite
}

table {
    background-color: steelblue;
    border-collapse: collapse;
    border-radius: 1.5em

}

td {
    text-align: center;
    padding: 12px
}

th {
    background-color: rgb(60,70,120);
    padding: 10px;
    border-radius: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px
}
thead {
    border-radius: 1.5em
}
tr:nth-child(even) {
    background-color: lightslategray;
    color: black
}
tr:last-child {
    border-radius: 1.5em
}